html {
	background-image: linear-gradient(to bottom, #42f5b6, #29916d);
  	background-size: cover;
	min-height: 100vh;
}
body {
	margin: 0px;
}

h2 {
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
	margin-inline-start: 0.4em;
	margin-inline-end: 0.4em;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
}

h3 {
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0em;
	margin-inline-end: 0em;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	font-size: 1.2vw;
}

button {
	border: 1px solid black;
	border-radius: 100px;
	background: rgba(0, 0, 0, 0);
	font-size: 1vw;
	width: 100%;
	height: 100%;
	text-align: center;
}

div#timer_cir {
	height: 20vh;
}

div#timer_control {
	padding-right: 20%;
	padding-left: 20%;
	text-align: center;
	margin-top: 5vh;
	margin-bottom: 5vh; 
}

div#start, div#pause, div#reset {
	display: inline-block;
	border: 1px solid black;
	border-radius: 100px;
	width: 10%;
	height: 100%;
}
div#start {
	background-color: #4287f5;
}

div#pause {
	margin-left: 15%;
	margin-right: 15%;
	background-color: #dbc93b;
	width: 12%;
}

div#reset {
	background-color: #db3e3b;
}

div#timer_num {
	text-align: center;
}

div#points {
	text-align: center;
}

div#points_head, div#curr_points {
	display: inline-block;
}

div#cards {
	height: 37vw;
}

div.card_row {
	text-align: center;
	height: 50%;
}

div.card {
	width: 13%;
	height: 90%;
	margin: 1vh;
	background-image: linear-gradient(to bottom right, #F70FFF, #12D6DF);
	background-size: cover;
	display: inline-block;
	text-align: center;
}

div.emoji {
	display: inline-block;
	/*background-image: url(emoji.png);*/
	background-size: cover;
	background-repeat: no-repeat;
	width: 50%;
	height: 40%;
}

/*img {
	width: 100%;
	height: 100%;
}*/

div.point_price {
	width: 90%;
    height: 10%;
/*    background-color: red;
    background-size: cover;*/
    display: inline-block;
    margin-top: 5%;
}

div.card_description {
	margin-top: 5%;
}

div#card1 {
	background-image: url(newimages/fire.png);
}

div#card2 {
	background-image: url(newimages/basketball.png);
}

div#card3 {
	background-image: url(newimages/snack.png);
}

div#card4 {
	background-image: url(newimages/candy.png);
}

div#card5 {
	background-image: url(newimages/pancakes.png);
}

div#card6 {
	background-image: url(newimages/champion.png);
}







